.Banner{
    background: url("../../HousePhoto.png") ;
    height:30vh;
    position:relative;
}

.SearchBannerInfo{
    background-color: black;
    color:white;
    display: inline-block;
    /*padding-top:25vh;*/
    /*padding-left:50px;*/
    /*padding-right:50px;*/
    /*padding-bottom:40px;*/
    /*width:300px;*/
}

.Banner >button{
    margin:-100px;
    width: 100px;
    background-color: deepskyblue;
    color:white;
    text-transform: inherit;
    margin-top:10px;
    font-weight:400;
}

.Banner>button:hover{
    background-color: black;
    color:deepskyblue;
}

.Search>button{
    font-weight:400;
    text-transform: inherit;
    color:green;
}

.Search>button:hover{
    background-color: black;
    color:green;
}


.Search{
    display:flex;
    flex-direction: column;
}

.SearchButton{
    background-color:white ;
    font-weight: 900;
    text-transform: inherit;
    color:green;
}
