/* Styles for the container window */
.container {
    /*height: 1500px;*/
    width: 500px;
    background-color: #ffffff; /* Change the background color to your preference */
    border: 1px solid #ccc; /* Add a border for the container */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    padding: 20px; /* Add padding to the container content */
    box-sizing: border-box; /* Include padding in the total width/height */
    margin: 0 auto; /* Center the container horizontally */
    align-items: center;
}

/* Styles for input elements */
.container input[type="text"],
.container input[type="number"],
.container input[type="email"],
.container input[type="password"],
.container input[type="checkbox"],
.container input[type="radio"],
.container textarea {
    width: 90%; /* Make input fields span the full width of the container */
    padding: 10px; /* Add padding to input fields */
    margin-bottom: 15px; /* Add some spacing between input fields */
    border: 1px solid #ccc; /* Add a border to input fields */
    border-radius: 4px; /* Add rounded corners to input fields */
}

/* Styles for select elements */
.container select {
    width: 100%; /* Make select elements span the full width of the container */
    padding: 10px; /* Add padding to select elements */
    margin-bottom: 15px; /* Add some spacing between select elements */
    border: 1px solid #ccc; /* Add a border to select elements */
    border-radius: 4px; /* Add rounded corners to select elements */
}

/* Style for the submit button (if you have one) */
.container button[type="submit"] {
    background-color: #007bff; /* Change the button background color to your preference */
    color: #fff; /* Change the button text color to your preference */
    padding: 10px 15px; /* Add padding to the button */
    border: none; /* Remove the button border */
    border-radius: 4px; /* Add rounded corners to the button */
    cursor: pointer; /* Change cursor on hover */
}

label {
    color: #282c34;
}

.tile {
    height: 300px;
    width: 350px;
    align-self: center;
}